body{
    font-family: sans-serif ;
     }


#grad1 {
    height: 750px; ;
    background-image: linear-gradient(to right, purple , pink);
}


td{ font-size: 18px; background-color: #F3F3F3; text-align: left; padding-left: 30px;}
th{ font-size: 20px;}
    
th{ background-color: #3A3959; color: #F3F3F3;}


th:first-child{border-top-left-radius: 15px;}
th:last-child{border-top-right-radius: 15px;}




  
table { position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
        border-collapse: collapse ;        
        width: 1400px;
        height: 700px;
        
}