<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body {padding: 0px; margin: 0;
                font-family: 'Roboto', sans-serif}

        table {
            font-size: 20px;

        }
       
        th {
            font-size: 40px;

        }
            
    </style>
</head>
<body>
    <table BORDER=1 WIDTH="20%">
        <tr>
            <th>Student_id</th>
            <th>Student_f_name</th>
            <th>Student_l_name</th>
            <th>Subject_id</th>
            <th>Subject_name</th>
            <th>Grade</th>
            <th>Teacher_f_name</th>
            <th>Teacher_l_name</th>
        </tr><br>
        <tr>
            <td>6406022630016</td>
            <td>Kamonwan</td>
            <td>Janmanee</td>
            <td>060233205</td>
            <td>ADVANCED NETWORK AND PROTOCOL</td>
            <td>B+</td>
            <td>Khanista</td>
            <td>Namee</td>
        </tr>
        <tr>
            <td>6406022630016</td>
            <td>Kamonwan</td>
            <td>Janmanee</td>
            <td>060233113</td>
            <td>ADVANCED COMPUTER PROGRAMMING</td>
            <td>B</td>
            <td>Anirach</td>
            <td>Mingkhwan</td>
        </tr> 
        
        
        
        <tr>
            <td>6406022620061</td>
            <td>Mathawee</td>
            <td>Robkob</td>
            <td>060233205</td>
            <td>ADVANCED NETWORK AND PROTOCOL</td>
            <td><A></A></td>
            <td>Khanista</td>
            <td>Namee</td>
        </tr> 
        <tr>
            <td>6406022620061</td>
            <td>Mathawee</td>
            <td>Robkob</td>
            <td>060233113</td>
            <td>ADVANCED COMPUTER PROGRAMMING</td>
            <td>B+</td>
            <td>Anirach</td>
            <td>Mingkhwan</td>
        </tr> 
        
        
        
        <tr>
            <td>6406022610058</td>
            <td>Piyawan</td>
            <td>Nimpraprut</td>
            <td>060233205</td>
            <td>ADVANCED NETWORK AND PROTOCOL</td>
            <td>B</td>
            <td>Khanista</td>
            <td>Namee</td>
        </tr> 
        <tr>
            <td>6406022610058</td>
            <td>Piyawan</td>
            <td>Nimpraprut</td>
            <td>060233113</td>
            <td>ADVANCED COMPUTER PROGRAMMING</td>
            <td>C</td>
            <td>Anirach</td>
            <td>Mingkhwan</td>
        </tr>
    </table>


</body>
</html>